*
{
    color: rgb(39, 39, 39);
}

body
{
    background-color: rgb(39, 39, 39);
}

.bannerImg
{
    background-image: url("pigBg.png");
    background-position:center;
    background-repeat: no-repeat;
    filter: blur(8px);
    height: 60%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.bannerText
{
    background-color: rgba(207, 140, 140, 0.75);
    border:rgba(39, 39, 39, 0.75);
    border-style:groove;
    border-width: 10px;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom:30px;
    padding-right: 30px;
    padding-left: 30px;
    width: 500px;
    line-height: 10px;
    transform: translate(0%, -200%);
    display: block;
    margin: 0 auto;
    box-shadow: 10px 10px 10px black;
}

.aboutMe
{
    background-color: rgba(233, 228, 216, 0.75);
    padding: 3%;
    width: 60%;
    height: 40%;
    float: right;
    transform: translate(-3%, -50%);
    margin: auto;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
}

.selfPortrait
{
    background-image: url(portrait.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    width: 29%;
    height: 50%;
    transform: translate(3%, -50%);
    margin: auto;
}

.lingeringLegacy
{
    background-color: rgba(207, 140, 140, 0.75);
    padding: 3%;
    width: 60%;
    height: 30%;
    float: left;
    transform: translate(3%, -40%);
    margin: auto;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
}

.lingeringLegacyVideo
{
    float: right;
    padding: 3%;
    transform: translate(-3%, -40%);
    margin: auto;
}

.disasterGolf
{
    background-color: rgba(207, 140, 140, 0.75);
    padding: 3%;
    width: 60%;
    height: 30%;
    float: right;
    transform: translate(40%, -20%);
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
}

.disasterGolfImg
{
    background-image: url(disasterGolf.gif);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    width: 29%;
    height: 40%;
    transform: translate(3%, -123%);
    margin: auto;
}

.personal
{
    background-color: rgba(207, 140, 140, 0.75);
    padding: 3%;
    width: 60%;
    height: 30%;
    float: left;
    transform: translate(3%, 320%);
    margin: auto;
    border-radius: 5px;
    position: absolute;
    box-shadow: 10px 10px 10px black;
}

.personalImg
{
    background-image: url(lodestone.gif);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    width: 29%;
    height: 40%;
    transform: translate(240%, 338%);
    margin: auto;
    position: absolute;
}

.resume
{
    background-color: rgba(233, 228, 216, 0.75);
    padding: 3%;
    width: 38%;
    height: 80%;
    float: left;
    transform: translate(5%, 200%);
    margin: auto;
    border-radius: 5px;
    position: absolute;
    box-shadow: 10px 10px 10px black;
    text-align: center;
}

.contact
{
    background-color: rgba(233, 228, 216, 0.75);
    padding: 3%;
    width: 38%;
    height: 40%;
    float: right;
    transform: translate(121%, 354%);
    margin: auto;
    border-radius: 5px;
    position: absolute;
    box-shadow: 10px 10px 10px black;
    text-align: left;
}

.pageEnd
{
    padding: 3%;
    width: 38%;
    height: 40%;
    float: right;
    transform: translate(121%, 474%);
    margin: auto;
    position: absolute;
    text-align: center;
}

h1
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    letter-spacing: 10px;
    text-align: center;
}

h2
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    text-shadow: 3px 3px rgba(165, 165, 165, 0.5);
    text-align: center;
}

h3
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 6px;
    text-align: center;
}

p
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-shadow: 2px 2px rgba(165, 165, 165, 0.5);
    text-align: center;
}

a
{
    color: rgb(93, 93, 255);
    text-shadow: 1px 1px rgb(17, 17, 17);
}

ul
{
    display: table;
    margin: 0 auto;
    text-align: left;
}

li
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-shadow: 2px 2px rgba(165, 165, 165, 0.5);
}